/* Header */
.logo-img {
    position: absolute;
    top: -125px;
    right: -708px;
}

.nav-item {
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

.nav-link {
    color: white !important;
}

.nav-link {
    font-size: .97em;

}

/* Accueil */
.carousel.slide {
    position: relative;
}

.carousel-inner {
    height: 590px;
}

.container.carousel-text {
    position: absolute;
    top: 55%;
    left: 16%;
    width: 600px;
    background: rgba(187, 232, 247, 0.85);
    border-radius: 6px;
    padding: 2em;
}

.container.carousel-text h4 {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.container.carousel-text h2 {
    text-transform: uppercase;
    color: white;
    font-weight: bold;

}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); 
    background-color: black;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-size: 28px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    background-color: black;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-size: 28px;
}

/* Pages articles */
.img-article {
    width: 500px;
    margin: auto;
}

.img-article img {
    width: 100%;
}

/* line 15, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_about.scss */
.welcome_clicnic_area .welcome_thumb .thumb_2 {
    left: 0;
    margin-left: 0px;
    position: relative;
    margin-left: 30px;
}
  
  /* line 20, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_about.scss */
.welcome_clicnic_area .welcome_thumb .thumb_2::before {
    background: #e0fbff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 75%;
    height: 100%;
    content: '';
    z-index: -1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    left: -30px;
    bottom: -30px;
}
  
/* line 33, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_about.scss */
.welcome_clicnic_area .welcome_thumb .thumb_2 img {
    width: 75%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
  
@media (max-width: 767px) {
    /* line 33, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_about.scss */
    .welcome_clicnic_area .welcome_thumb .thumb_2 img {
        width: 100%;
    }
}

/* Responsive */
@media screen and (max-width: 640px) {
    .logo-img {
        position: absolute;
        top: -188px;
        right: -19px;
    }

    .logo-img img {
        width: 60px !important;
    }

    .carousel-inner {
        height: 250px;
    }
    .container.carousel-text {
        top: 46px;
        width: 200px;
    }

    .slider_text-pad {
        padding: 0;
    }

    .slider_text h4{
        font-size: .7em;
    }

    .slider_text h2{
        font-size: .7em;
    }

    .boxed-btn5 {
        padding: 2px 16px;
        font-size: 1em;
    }

    .img-article {
        width: 250px !important;
    }

    iframe {
        width: 330px;
        height: 330px;
    }

    

}